<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mingbo.mapper.AuthorityMapper">

    <!-- 分页查询所有已授权用户（去掉管理员过滤，所有管理员可见） -->
    <select id="getAuthoritiesByPage" resultType="com.mingbo.pojo.Authority">
        SELECT auth.user_id, auth.admin_id, user.username, user.avatar, user.gender, auth.status,
               auth.perm_create, auth.perm_read, auth.perm_update, auth.perm_delete
        FROM tb_authorization AS auth, tb_user AS user
        WHERE auth.user_id=user.id
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper>